################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.ipynb_checkpoints
/__pycache__
/areas44.py
/Hall tree rewriting algo.ipynb
/Riemann vs Triangles.ipynb
